/* Authda Xatoliklar ko'rsatilganda animatsiya qilish */

#error-alert {
    position: fixed;
    top: 20px;
    right: -300px; /* Xatolik boshlang'ichda o'ngda ko'rinmasin */
    max-width: 300px;
    z-index: 9999;
    padding: 10px 15px; /* Ichki bo'shliqni aniqlash */
    background-color: red; /* Xatolik uchun rang */
    color: white;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    word-wrap: break-word; /* So'zlar qator bo'ylab tushadi */
    transition: right 0.5s ease-in-out;
}


/* Xatolikni ko'rsatganda o'ngga surish */
#error-alert.show {
    right: 20px; /* O'ngga 20px masofada ko'rinishga keladi */
}

/* Kichik ekranlar uchun */
@media (max-width: 767px) {
    #error-alert {
        width: 250px; /* Kichik ekranlarda kenglikni kamaytirish */
        right: -250px; /* Xatolik boshlang'ichda ko'rinmasin */
    }
}

/* O'rtacha ekranlar uchun (tabletlarga mos) */
@media (max-width: 1024px) and (min-width: 768px) {
    #error-alert {
        width: 280px; /* O'rtacha ekranlarda kenglikni biroz kamaytirish */
        right: -280px; /* Xatolik boshlang'ichda ko'rinmasin */
    }
}

/* Authda Xatoliklar ko'rsatilganda animatsiya qilish */




.modal-body img {
    width: 100%;
    height: auto;
    border: 5px solid #ddd; /* Chegara qo'shish */
    border-radius: 10px; /* Chegarani yumshatish uchun radius */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Chiroyli soyali effekt */
    transition: transform 0.3s ease; /* Zoom effekti uchun o'zgarish */
}

.modal-body img:hover {
    transform: scale(1.05); /* Hover (ko'rsatish) vaqtida biroz kattalashish effekti */
}



.avatar-img {
    width: 40px;  /* Rasmning kengligini o'zgartirish */
    height: 40px; /* Rasmning balandligini o'zgartirish */
    object-fit: cover; /* Rasmni to'liq ko'rsatish, lekin o'lchamni saqlash */
}
